@{
    Layout = "~/Views/Shared/Layouts/_ErrorLayout.cshtml";
}


<div class=" d-flex align-items-center justify-content-center min-vh-100">
    <div class="container text-center">
        <img src="~/images/boy-error.webp"  class="responsive-img" alt="Boy holding error sign" />
        <h1 class="display-1 text-danger">@Model.ErrorText @Model.StatusCode</h1>
        <p class="lead text-muted mb-4">@Model.ErrorMessage</p>
        <a href="/" class="btn btn-success btn-lg">@Model.GoToHomeButtonText</a>
    </div>
</div>



