@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.6);
  padding: 1.25rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control:focus-visible, .form-control :focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

main {
  flex-grow: 1;
  padding-top: 10%;
  z-index: 5;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url("../images/rm245-bb-17-a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.main-content .flying-boy {
  position: absolute;
  top: 10rem;
  left: 10rem;
  height: 20%;
  width: auto;
  z-index: 2;
  opacity: 0.5;
}

@media (min-width: 992px) {
  .main-content .flying-boy {
    top: 5rem;
    left: 5rem;
  }
}
a {
  text-decoration: none;
  color: #3EBFAC;
}

:root {
  --color-danger: #F5D7DA;
  --color-success: #22C55E;
  --color-warning: #EF4444;
  --color-info: #4C82F7;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.cookie-consent-button {
  position: fixed;
  bottom: 5rem;
  right: 20px;
  z-index: 1;
}
.cookie-consent-button .cookie-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  /*        border: 2px solid white;*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.cookie-consent-button .cookie-btn:hover {
  background-color: gainsboro;
  transform: scale(1.1);
}
.cookie-consent-button .cookie-btn:focus {
  outline: none;
}
.cookie-consent-button .cookie-btn i {
  display: contents;
}

:root {
  --font-poppins: "Poppins", san-serif;
}

body {
  font-family: var(--font-poppins);
}

.header {
  position: sticky;
  padding: 0.75rem 2rem;
  background-color: rgba(255, 218, 89, 0.5);
}
.header .header-wrapper {
  display: flex;
}
.header .header-wrapper .header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}
.header .header-wrapper .header-items .navbar-toggler {
  font-size: 1.5rem;
}
.header .header-wrapper .header-items .navbar-toggler .navbar-toggler-icon {
  display: flex;
  align-items: center;
}
.header .header-wrapper .header-items .dropdown {
  margin-left: auto;
}
.header .header-wrapper .header-items .dropdown .dropdown-toggle {
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
}
.header .header-wrapper .header-items .dropdown .dropdown-toggle .profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
  .header {
    background: transparent;
    padding: 0.5rem 2rem;
  }
  .header .header-wrapper {
    display: flex;
  }
  .header .header-wrapper .header-items {
    padding: 1rem;
  }
}
.footer {
  padding: 1rem 2rem;
  position: sticky;
  background-color: transparent;
}
.footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer-wrapper .footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer-wrapper .footer-items img {
  height: 20px;
  width: auto;
}
.footer .footer-wrapper .footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer .footer-wrapper .footer-copyright p {
  margin: 0;
}

.offcanvas.offcanvas-start {
  --bs-offcanvas-width: 16rem;
}

@media (min-width: 992px) {
  #offcanvasNavbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1045;
    display: block;
    visibility: visible;
    transform: none;
  }
  .main-content {
    margin-left: 16rem;
  }
}
.navbar {
  width: 16rem;
  padding: 3rem 0;
  height: 100%;
  background-image: url("../images/sidebar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.55);
}
.navbar .navbar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navbar .navbar-wrapper .nav-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3rem;
}
.navbar .navbar-wrapper .nav-logo .nav-logo-img {
  height: 8rem;
}
.navbar .navbar-wrapper .nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar .navbar-wrapper .nav-items .nav-links {
  color: #696F79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25%;
  gap: 30px;
  font-size: 1.25rem;
}

.error-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url("../images/background-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  img {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  img {
    max-width: 150px;
  }
}
