@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.6);
  padding: 1.25rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control:focus-visible, .form-control :focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

main {
  flex-grow: 1;
  padding-top: 10%;
  z-index: 5;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url("../images/rm245-bb-17-a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.main-content .flying-boy {
  position: absolute;
  top: 10rem;
  left: 10rem;
  height: 20%;
  width: auto;
  z-index: 2;
  opacity: 0.5;
}

@media (min-width: 992px) {
  .main-content .flying-boy {
    top: 5rem;
    left: 5rem;
  }
}
a {
  text-decoration: none;
  color: #3EBFAC;
}

:root {
  --color-danger: #F5D7DA;
  --color-success: #22C55E;
  --color-warning: #EF4444;
  --color-info: #4C82F7;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.cookie-consent-button {
  position: fixed;
  bottom: 5rem;
  right: 20px;
  z-index: 1;
}
.cookie-consent-button .cookie-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  /*        border: 2px solid white;*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.cookie-consent-button .cookie-btn:hover {
  background-color: gainsboro;
  transform: scale(1.1);
}
.cookie-consent-button .cookie-btn:focus {
  outline: none;
}
.cookie-consent-button .cookie-btn i {
  display: contents;
}

:root {
  --font-poppins: "Poppins", san-serif;
}

body {
  font-family: var(--font-poppins);
}

.form-group {
  margin-bottom: 1.5rem;
}
.form-group label {
  font-weight: 600;
}
.form-group input {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
}
.form-group .col {
  padding: 0 5px;
}
.form-group .login-card h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.form-group .login-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.header {
  position: sticky;
  padding: 0.75rem 2rem;
  background-color: rgba(255, 218, 89, 0.5);
}
.header .header-wrapper {
  display: flex;
}
.header .header-wrapper .header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}
.header .header-wrapper .header-items .navbar-toggler {
  font-size: 1.5rem;
}
.header .header-wrapper .header-items .navbar-toggler .navbar-toggler-icon {
  display: flex;
  align-items: center;
}
.header .header-wrapper .header-items .dropdown {
  margin-left: auto;
}
.header .header-wrapper .header-items .dropdown .dropdown-toggle {
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
}
.header .header-wrapper .header-items .dropdown .header-signin {
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
}
.header .header-wrapper .header-items .dropdown .profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
  .header {
    background: transparent;
    padding: 0.5rem 2rem;
  }
  .header .header-wrapper {
    display: flex;
  }
  .header .header-wrapper .header-items {
    padding: 1rem;
  }
}
.footer {
  padding: 1rem 2rem;
  position: sticky;
  background-color: transparent;
}
.footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer-wrapper .footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer-wrapper .footer-items img {
  height: 20px;
  width: auto;
}
.footer .footer-wrapper .footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer .footer-wrapper .footer-copyright p {
  margin: 0;
}

.offcanvas.offcanvas-start {
  --bs-offcanvas-width: 16rem;
}

@media (min-width: 992px) {
  #offcanvasNavbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1045;
    display: block;
    visibility: visible;
    transform: none;
  }
  .main-content {
    margin-left: 16rem;
  }
}
.navbar {
  width: 16rem;
  padding: 3rem 0;
  height: 100%;
  background-image: url("../images/sidebar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.55);
}
.navbar .navbar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navbar .navbar-wrapper .nav-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3rem;
}
.navbar .navbar-wrapper .nav-logo .nav-logo-img {
  height: 8rem;
}
.navbar .navbar-wrapper .nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar .navbar-wrapper .nav-items .nav-links {
  color: #696F79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25%;
  gap: 30px;
  font-size: 1.25rem;
}

.error-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: url("../images/background-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  img {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  img {
    max-width: 150px;
  }
}

.offcanvas.offcanvas-start {
  --bs-offcanvas-width: 16rem;
}

@media (min-width: 992px) {
  #offcanvasNavbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1045;
    display: block;
    visibility: visible;
    transform: none;
  }
  .main-content {
    margin-left: 16rem;
  }
}
.navbar {
  width: 16rem;
  padding: 3rem 0;
  height: 100%;
  background-image: url("../images/sidebar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.55);
}
.navbar .navbar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navbar .navbar-wrapper .nav-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3rem;
}
.navbar .navbar-wrapper .nav-logo .nav-logo-img {
  height: 8rem;
}
.navbar .navbar-wrapper .nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar .navbar-wrapper .nav-items .nav-links {
  color: #696F79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25%;
  gap: 30px;
  font-size: 1.25rem;
}

.auth-container {
  display: flex;
  min-height: 100vh;
}
.auth-container .auth-left {
  width: 50%;
  background-color: #d9e6ea;
}
.auth-container .auth-left #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.auth-container .auth-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container .auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.auth-container .auth-content .logo-container {
  margin-bottom: 20px;
}
.auth-container .auth-content .logo-container .logo {
  width: 80px;
  height: auto;
}
.auth-container .auth-content .form-container {
  padding: 0.5rem;
  max-width: 450px;
  width: 100%;
}
@media (max-width: 768px) {
  .auth-container .auth-content .form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }
  .auth-container .auth-left {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
  }
  .auth-container .auth-right {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .auth-container .auth-content {
    padding: 20px;
  }
}
.auth-right .login-card h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.auth-right .login-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.auth-right .login-card .form-group {
  margin-bottom: 1.5rem;
}
.auth-right .login-card .form-group label {
  font-weight: 600;
}
.auth-right .login-card .form-group input {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
}
.auth-right .login-card .form-group .col {
  padding: 0 5px;
}

.quiz-page {
  min-height: 100vh;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  background-image: url(../images/quizbackground.svg);
  background-size: cover; /* Ändra till cover för att täcka hela ytan */
  background-repeat: no-repeat; /* Ingen upprepning */
  background-position: center; /* Centrera bilden */
}
.quiz-page .card {
  background-color: white;
}
.quiz-page .chapter-nav-component {
  max-width: 350px;
}
.quiz-page .chapter-nav-component h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.quiz-page .chapter-nav-component img {
  width: 60px;
  margin-bottom: 20px;
}
.quiz-page .chapter-nav-component .chapter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.quiz-page .chapter-nav-component .chapter-list .chapter-list-item {
  margin-bottom: 8px;
  font-size: 0.6rem;
  font-weight: 500;
}
.quiz-page .chapter-nav-component .chapter-list .chapter-list-item.active {
  background-color: #cce5ff; /* Ljusblå färg */
  color: #004085; /* Mörkblå textfärg */
}
.quiz-page .chapter-nav-component .chapter-list .question-list {
  margin: 0;
  margin-left: 10px;
}
.quiz-page .chapter-nav-component .chapter-list .question-list .question-list-item {
  margin-bottom: 8px;
  font-size: 0.6rem;
}
.quiz-page .chapter-nav-component .chapter-list .question-list .question-list-item.active {
  background-color: #d1ecf1; /* Ljus cyan färg */
  color: #0c5460; /* Mörk cyan textfärg */
}
.quiz-page .chapter-nav-component li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #dee2e6;
  border-radius: 12px;
  padding: 6px;
}
.quiz-page .chapter-nav-component li:hover {
  background-color: #f8f9fa;
}
.quiz-page .quiz-component {
  position: fixed;
  top: 50%;
  left: 40%;
  width: 50%; /* Justera baserat på din layout */
  max-width: 800px; /* Justera baserat på din layout */
  height: auto; /* Justera baserat på innehållet */
  transform: translateY(-50%);
  overflow-y: auto;
  padding: 20px; /* Valfritt: Lägg till padding */
}
.quiz-page .quiz-component h3 {
  font-size: 1.1rem;
  font-weight: 400;
}
.quiz-page .quiz-component h2 {
  font-size: 1.3rem;
}
.quiz-page .quiz-component .options-section {
  margin-top: 20px;
}
.quiz-page .quiz-component .options-section .option-item {
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #dee2e6;
  border-radius: 12px;
  padding: 6px;
  margin-bottom: 8px;
}
.quiz-page .quiz-component .options-section .option-item.incorrect {
  background-color: #721c24;
}
.quiz-page .quiz-component .options-section .option-item.correct {
  background-color: #721c24;
}
