* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

main {
    flex-grow: 1;
    padding-top: 8%;
    z-index: 5;
}

.page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}

.flying-boy {
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 50%;
    height: auto;
    z-index: 2;
    opacity: 0.5;
}
.main-content {
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // flex: 1;
    // background-image: url('../images/background-img.webp');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-attachment: fixed;
    // z-index: 2; 

    position: relative;
    min-height: 100vh;
    height: 100%;
    // padding-left: 50px;
    // padding: 1.5rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url('../images/background-img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
    z-index: 2; 
}

@media (min-width: 992px) {
    .main-content {
        .flying-boy {
            top: 5rem;
            left: 5rem;
        }
    }
}
@media (min-width: 1200px) {
    .main-content {
        .flying-boy {
            top: 10rem;
            left: 10rem;
            height: 20%;
            width: auto;
        }
    }
}