@code {

    [Parameter]
    public BookPageModel? Book { get; set; }

}


 @if(Book != null){
<div class="carousel-card bg-white p-4 ">
        <div class="carousel-card-img">
            <img src="@Book.ImageUrl" alt="@Book.Title" class="book-image">
        </div>
    
    <h5 class="mt-3">@Book.Title</h5>
    <p>Author: @Book.Authors</p>
</div>
}
else
{
    <p>No book data available</p>
}

