@code {

    [Parameter]
    public BookPageModel? Book { get; set; }

   
}


 @if(Book != null){
    <div class=" carousel-card card bg-white ">
        <img src="@Book.ImageUrl" alt="@Book.Title" class="card-img-top">
    <div class="card-body">
        <h5 class="mt-3">@Book.Title</h5>
        <p>Author: @Book.Authors</p>
    </div>    
</div>
}
else
{
    <p>No book data available</p>
}

