

<div class="cookie-consent-button position-fixed" @onclick="OpenCookieSettings">
    <button type="button" class="btn rounded-circle d-flex justify-content-center align-items-center cookie-btn" aria-label="Cookie Settings">
        <i class="fas fa-cookie-bite me-2"></i>
    </button>
</div>

@code {
    [Inject] IJSRuntime JS { get; set; }

    private async Task OpenCookieSettings()
    {
        await JS.InvokeVoidAsync("openCookieSettings");
    }
}