<h3>CounterBlazorPage</h3>

<p>Current count: @count </p>
<button class="btn btn-success" @onclick="IncrementCount">Increment</button>

@code {
    public int count = 0;

    private void IncrementCount()
    {
        count++;
        StateHasChanged();
    }
}