


<div class="container text-center my-5">
    <div class="row">
        <div class="col-md-3">
            <StatsInfo Value="25K+" Label="CLASSES" />
        </div>
        <div class="col-md-3">
            <StatsInfo Value="600K+" Label="MEMBERS" />
        </div>
        <div class="col-md-3">
            <StatsInfo Value="8K+" Label="TEACHERS" />
        </div>
        <div class="col-md-3">
            <StatsInfo Value="4.8 ★★★★★" Label="APP STORE RATING" />
        </div>
    </div>
</div>
