@model ProfileViewModel

@{
    Layout = "~/Views/Shared/Layouts/AuthLayout.cshtml";
    ViewData["Title"] = "Update profile";
    ViewData["Description"] = "Update a sub-profile for your user account by entering a new name";
}


<div>
    <div>
        <h1>Update profile</h1>
    </div>

    <form method="post" asp-action="UpdateProfile" asp-controller="Profile">
        @Html.AntiForgeryToken()
        <div>
            @ViewData["StatusMessage"]
        </div>
        <div class="form-group mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">Save changes</button>

    </form>

</div>