@model UserProfileViewModel

@{
    Layout = "~/Views/Shared/Layouts/AuthLayout.cshtml";
    ViewData["Title"] = "Create profile";
    ViewData["Description"] = "Create an sub-profile for your user account by entering a name";
}


<div>
    <div>
        <h1>Create profile</h1>
    </div>

    <form method="post" asp-action="CreateProfile" asp-controller="Profile">
        @Html.AntiForgeryToken()
        <div>
            @ViewData["StatusMessage"]
        </div>
        <div class="form-group mb-3">
            <label asp-for="Firstname"></label>
            <input asp-for="Firstname" />
            <span asp-validation-for="Firstname"></span>
        </div>

        <button type="submit" class="btn btn-success w-100 mb-3">Create profile</button>
    </form>


</div>