.auth-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 20px;
    }

    .auth-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .logo-container {
            margin-bottom: 20px;

            .logo {
                width: 80px;
                height: auto;
            }
        }

        .form-container {
            padding: 0.5rem;
            max-width: 450px;
            width: 100%;

            @media (max-width: 768px) {
                background-color: rgba(255, 255, 255, 0.9);
                border-radius: 8px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
