.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); 
    background: rgba(0, 0, 0, 0.2); 
    z-index: -1; 
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: auto;
    position: relative;
    z-index: 200;

    @media (max-width: 768px) {
        padding: 15px;
    }

    .book-container {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .book-cover {
            flex: 1;


            @media (max-width: 768px) {
                width: 200px;
            }

            @media (max-width: 425px) {
                width: 100px;
            }


            .cover-img {
                width: 100%;
                height: auto;
                object-fit: cover;
                // max-width: 100%;
                border-radius: 10px;
                max-width: 300px;
            }
        }

        .book-info {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 768px) {
                align-items: center;
            }

            @media (max-width: 456px) {
                align-items: baseline;
            }

            h1 {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                color: #333;
            }
        }
    }

    .book-plot {
        margin-top: 50px;

        @media (max-width: 768px) {
            margin-top: 30px;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            color: #333;
        }
    }


    .button-quiz {
        display: flex;
        justify-content: flex-end;

        .quiz-button {
            background-color: #3EBFAC;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 15px 20px;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 30px;
            text-align: center;

            &:hover {
                background-color: darken(#9b6ef3, 5%);
            }
        }
    }

    .back-arrow-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        padding: 10px;
        position: relative;
        color: #ff9800;
        display: flex;
        align-items: center;

        .back-button i {
            margin-right: 8px;
        }

        .back-arrow-button:hover::before {
            color: #e65100;
        }
    }
}




