.cookie-page {
    max-width: 80%;
    margin-bottom: 10rem;
    .cookie-title {
        font-size: 2.75rem;
        margin-bottom: 1.5rem;
        color: #007acc;
        font-weight: 600;
    }
    .cookie-info {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
}