.error-content {
position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("../images/rm245-bb-17-a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

