.footer {
    padding: 1rem 2rem;
    position: sticky;
    background-color: transparent;
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        .footer-items {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            
            img {
                height: 20px;
                width: auto;
            }
        }
        
        .footer-copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            p {
                margin: 0;
            }
        }    
        }
}