.header {
    position: sticky;
    padding: .75rem 2rem;
    background-color: rgb(255, 218, 89, .5);

    .header-wrapper {
        display: flex;

        .header-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            width: 100%;

            .navbar-toggler {
                font-size: 1.5rem;

                .navbar-toggler-icon {
                    display: flex;
                    align-items: center;
                }
            }

            .dropdown {
                margin-left: auto;

                .dropdown-toggle {
                    padding: .75rem 1.25rem;
                    border-radius: 1rem;
                }

                .header-signin {
                    border-radius: 1rem;
                    padding: .75rem 1.25rem;
                }

                .profile-image {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: .5rem;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
    .header {
        background: transparent;
        padding: .5rem 2rem;
        .header-wrapper {
            display: flex;
            .header-items {
                padding: 1rem;
            }
        }
    }
}