.my-quizzes {
    color: white;

    .container {
        display: flex;
        flex-direction: column;
        gap: 1px;
        // margin-top: 10vh;
        padding: 0;
        // width: 90%;

        .overall-summary {
            position: relative; /* Ensure overlay is positioned relative to this div */
            padding: 10px 0; /* Add padding to create space around the content */
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-evenly;
            width: 100%;
            margin-left: 6px;


            div {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                z-index: 2;

                p {
                    font-size: 1.3rem;
                    font-weight: bold;
                    margin: 0;
                    padding: 0;
                }
            }

            .overall-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.05); /* Adjust the color and opacity as needed */
                z-index: 1;
                border-radius: 12px;
            }
        }

        .detail-summary {
            position: relative; /* Ensure overlay is positioned relative to this div */
            display: grid;
            grid-template-columns: .75fr 1fr;
            grid-template-areas: "quizzes summary";
            justify-content: space-evenly;
            padding: 30px 0;
            width: 100%;
            gap: 1rem;
            @media (max-width: 1200px) {
                grid-template-columns: 1fr;
                grid-template-areas: "quizzes" "summary";
            }


            .detail-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.05); /* Adjust the color and opacity as needed */
                z-index: 1;
                border-radius: 12px;
            }

            .quizzes-section {
                grid-area: quizzes;
                // width: 80%;
                // margin-left: auto;
                // margin-right: auto;
                // padding: 20px; /* Add padding to create space around the content */
                // z-index: 2;



                .button-group {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 1.75rem;
                    gap: 1rem;


                    .toggle-btn {
                        z-index: 2;
                        background-color: #f8f9fa;
                        border: 1px solid #ced4da;
                        border: none;
                        border-radius: 0.25rem;
                        padding: 0.5rem 1rem;
                        color: #495057;
                        transition: all 0.3s ease;
                        white-space: nowrap;
                        position: relative;



                        i {
                            position: absolute;
                            right: 10px;
                            z-index: 1;
                        }

                        &:hover {
                            background-color: #e2e6ea;
                            background-color: #cdebea;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
                            cursor: pointer;
                        }

                        &.active {
                            background-color: #76C0BD;
                            color: #fff;

                            &:hover {
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
                                cursor: pointer;
                            }
                        }

                        .btn-span {
                            font-weight: 400;
                        }

                        @media (max-width: 768px) {
                            padding: 0.35rem .5rem;
                            font-size: .75rem;
                        }
                    }
                }



                .quiz-content {
                    .book-card-wrapper {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                        gap: 1.5rem;
                        .quiz-card {
                            background-color: white;
                            animation: fadeIn 0.3s ease-in-out;
                            display: flex;
                            flex-direction: row;
                            gap: 30px;
                            padding: 7px;
                            z-index: 2;
                            border-radius: 12px;
                            margin-bottom: 10px;
                            border: 0.5px solid gray;
    
                            .card-image-section {
                                img {
                                    width: 50px;
                                    object-fit: cover;
                                }
                            }
    
                            .card-content-section {
                                color: black;
    
                                h3 {
                                    font-size: 0.8rem;
                                    font-weight: bold;
                                }
                            }
                        }   
                    }
                }
            }

            .summary-section {
                grid-area: summary;
                display: flex;
                flex-direction: column;
                gap: 1.75rem;
                h2 {
                    color: #76C0BD;
                    height: 2.5rem;
                    font-size: 1.75rem;
                    font-weight: 500;
                    margin: 0;
                }
                
                .summary-heading {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h2 {

                    }
                }
                .summary-card {
                    margin: 0;
                }
                .summary-content {
                    display: grid;
                    // grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    gap: .75rem;
                    .score-card {
                        display: flex;
                        flex-direction: row; 
                        align-items: center; 
                        justify-content: space-between; 
                        background-color: rgba(255, 255, 255, 0.7);
                        border-radius: 8px;
                        padding: 1rem; 
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
                        text-align: center;
                        // aspect-ratio: 8/3;
                        aspect-ratio: 3/2;
                        font-size: 1.25rem;
                        height: 100%;
                        margin: 0;
                        min-width: 165px;
                        .score-text {
                            // flex-grow: 1.5;
                            // font-size: .8em;
                            font-size: .85rem;
                            font-size: clamp(.7em, 2vw, .85em);
                            font-weight: 400;
                            color: #495057;
                            margin: 0 auto;
                            max-width: 220px;
                        }
                        .score-value {
                            // flex-grow: 1;
                            font-size: 1.25em;
                            font-size: clamp(1.15em, 3vw, 1.25em);
                            font-weight: 500;
                            color: #76C0BD;
                            text-align: center;
                            min-width: 35px;
                            margin-left: .5rem;
                            white-space: nowrap;
                        }
                        // @media (max-width: 1200px) {
                        //     // font-size: 1.5rem;
                        //     max-width: 160px;
                        //     aspect-ratio: 3/2;
                        //     font-size: 1.2rem;
                        //     .score-value {
                        //         font-size: 1.25em;
                        //     }
                            
                        // }
                        @media (max-width: 767px) {
                            width: 100%;
                            // font-size: 1.5rem;
                            aspect-ratio: 3/2;
                            // max-width: none;
                        }
                    }
                    @media (max-width: 1200px) {
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                    @media (max-width: 767px) {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                .achievement-heading {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h2 {
                    }
                }
                .summary-achievement {
                    .achievement-group {
                        padding: 1rem;
                        .achievement-status-title {
                            font-size: 1.5rem;
                            color: #76C0BD;
                            font-weight: 500;
                            text-transform: capitalize;
                        }
                        .images-wrapper {
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
                            gap: 1rem;
                            margin: 1rem 0;
                            .achievement-box {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                &.disabled {
                                    opacity: 0.3;
                                }
                                .achievement-img {
                                    width: 100%;
                                    max-width: 150px;
                                    height: auto;
                                }
                                h4 {
                                    font-size: 1.15rem;
                                    font-weight: 500;
                                    text-align: center;
                                    color: #495057;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }

            }
            .section-size {
                padding: 1rem;
                width: 99%;
                margin-left: auto;
                margin-right: auto;
                // padding: 20px; /* Add padding to create space around the content */
                z-index: 2;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
