.offcanvas.offcanvas-start {
    --bs-offcanvas-width: 16rem;
}

@media (min-width: 992px) {
    #offcanvasNavbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1045;
        display: block;
        visibility: visible;
        transform: none;
    }
    .main-content {
        margin-left: 16rem;
    }
}
.navbar {
    width: 16rem;
    padding: 3rem 0;
    height: 100%;
    // z-index: 1050;
    background-image: url('../images/sidebar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.55);
    .navbar-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        .nav-logo {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 3rem;
            .nav-logo-img {
                height: 8rem;
            }
        }
    
        .nav-items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            
            .nav-links {
                color: #696F79;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 25%;
                gap: 30px;
                font-size: 1.25rem;
            }
        }
    }
}
