.offcanvas.offcanvas-start {
    --bs-offcanvas-width: 16rem;
}

@media (min-width: 992px) {
    #offcanvasNavbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1045;
        display: block;
        visibility: visible;
        transform: none;
    }

    .main-content {
        margin-left: 16rem;
    }
}

.navbar {
    width: 16rem;
    padding: 3rem 0;
    height: 100%;
    // z-index: 1050;
    background-image: url('../images/sidebar.webp');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.55);

    .navbar-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        .nav-logo {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 3rem;

            .nav-logo-img {
                height: 8rem;
            }
        }

        .nav-items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .navbar-item.active > a {
                position: relative;
                font-weight: 500;
                text-decoration: none;
                color: #FA9F34;
            }

            .navbar-item.active > a::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 65%;
                width: 30%;
                height: 2px;
                background-color: #FA9F34;
                transform: translateX(-50%);
            }

            .nav-links {
                color: #696F79;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 25%;
                gap: 30px;
                font-size: 1.25rem;

                .navbar-list {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    .navbar-item {
                        margin-right: 1rem;
                        margin-bottom: 1.25rem;
                        font-size: 1.5rem;

                        a {
                            &:hover {
                                color: #FA9F34;
                                transform: scale(1.05);
                                transition: transform 0.3s ease-in-out;
                                cursor: pointer;
                            }

                            .nav-icon {
                                filter: invert(67%) sepia(94%) saturate(2015%) hue-rotate(357deg) brightness(99%) contrast(103%);
                                width: 24px;
                                height: 24px;
                                display: inline-block;
                                margin-right: .5rem;
                            }
                        }
                    }
                }
            }

            .nav-account {


                .nav-account-item {
                    padding: 10px;
                }
            }
        }
    }
}
