

/*.carousel-card {
    height: 450px;
    min-width: 270px;
    margin-right: 20px;
    text-align: center;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    //   transition: transform 0.2s;
    transition: transform 1s linear;
    align-content: center;
    

    .book-image {
        border-radius: 8px;
        height: 300px;
        width: fit-content;
        padding-bottom: 10px;
    }
}

.carousel-wrapper::before,
.carousel-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    width: 40px; 
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.carousel-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}*/

/* Fade till höger */
/*.carousel-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}


.carousel-wrapper-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    position: relative;
}



.carousel-card {
  //  min-width: 300px;
    margin-right: 20px;
    transition: transform 1s linear;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50%));
    }
}


.container {
    .carousel-text {
        color: #ffffff;
        padding: 10px;
        font-weight: 500;
    }

  
}*/