.startpage {
    background-image: url('/images/background-img.webp');
    background-size: cover;
    background-position: center;
    font-display: swap;

    .hero-section {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5rem 1rem;
        background-color: transparent;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        h1 {
            font-size: 2.0rem;
            font-weight: bold;
            color: #fff;
            margin-bottom: 0.5rem;

            @media(max-width: 576px) {
                font-size: 1.5rem;
            }
        }

        p {
            font-size: 1.25rem;
            color: #fff;
            margin-bottom: 1.5rem;

            @media(max-width: 576px) {
                font-size: 0.8rem;
            }
        }

        .herosection-btn {
            display: flex;
            gap: 1rem;
            padding: 1rem 1.5rem;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 5px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;


            &.btn-primary {
                background-color: #0056b3;
            }

            &.btn-secondary {
                background-color: #6c757d;
            }

            &:hover {
                opacity: 0.9;
            }
        }
    }
}



.learning-section {
    background-color: transparent;
    color: #fff;
    padding: 2rem;
    border-radius: 8px;
    margin: 2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    .info-row {
        display: grid;
        justify-content: start;
    }

    h2 {
        font-size: 1.5rem;
        padding: 10px;


        @media(max-width: 576px) {
            font-size: 0.75rem;
        }
    }

    .benefits-list {
        list-style: none;
        padding: 0;

        li {
            font-size: 0.9rem;
            margin-bottom: 0.75rem;
            display: flex;
            align-items: center;
            font-display: swap;

            @media(max-width: 576px) {
                font-size: 0.75rem;
                font-display: swap;
            }

            .fa-check {
                margin-right: 0.5rem;
            }
        }
    }
}

.carousel-wrapper-container {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    margin-bottom: 25px;

    .carousel-text {
        color: #ffffff;
        padding: 10px;
        font-weight: 700;
    }

    .carousel-wrapper {
        width: 100%;
        overflow: hidden;
        position: relative;

        .carousel-content {
            display: flex;
            gap: 1rem;
            will-change: transform;



            .carousel-card {
                min-width: 270px;
                height: 500px;
                border: 1px solid #ddd;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                margin: 15px auto;
                display: flex;
                flex-direction: column;
                /* &:nth-child(1) {
                    background: #7958ff;
                }

                &:nth-child(2) {
                    background: #5d34f2;
                }

                &:nth-child(3) {
                    background: #4300da;
                }*/

                @media(max-width: 768px) {
                    min-width: 200px;
                }


                @media(max-width: 576px) {
                    min-width: 200px;
                }

                .card-body {
                    padding: 20px;
                    text-align: center;

                    .card h5 {
                        font-size: 1rem;
                        margin-bottom: 8px;

                        @media(max-width: 768px) {
                            font-size: 0.7rem;
                        }

                        @media(max-width: 576px) {
                            font-size: 0.5rem;
                        }
                    }

                    .card p {
                        font-size: 0.9rem;
                        color: #666;
                        margin-bottom: 5px;

                        @media(max-width: 768px) {
                            font-size: 0.5rem;
                        }

                        @media(max-width: 576px) {
                            font-size: 0.3rem;
                        }
                    }
                }

                .card-img-top {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;

                    @media(max-width: 768px) {
                        height: 200px;
                    }
                }
            }
        }
    }
}







