.startpage {
    background-image: url('/images/background-img.webp');
    background-size: cover;
    background-position: center;
    font-display: swap;

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5rem 1rem;
        background-color: transparent;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        h1 {
            font-size: 2.0rem;
            font-weight: bold;
            color: #fff;
            margin-bottom: 0.5rem;

            @media(max-width: 576px) {
                font-size: 1.5rem;
            }
        }

        p {
            font-size: 1.25rem;
            color: #fff;
            margin-bottom: 1.5rem;

            @media(max-width: 576px) {
                font-size: 0.8rem;
            }
        }

        .herosection-btn {
            display: flex;
            gap: 1rem;
            padding: 1rem 1.5rem;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 5px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;


            &.btn-primary {
                background-color: #0056b3;
            }

            &.btn-secondary {
                background-color: #6c757d;
            }

            &:hover {
                opacity: 0.9;
            }
        }
    }
}



.learning-section {
    background-color: transparent;
    color: #fff;
    padding: 2rem;
    border-radius: 8px;
    margin: 2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    .info-row {
        display: grid;
        justify-content: start;
    }

    h2 {
        font-size: 1.5rem;
        padding: 10px;


        @media(max-width: 576px) {
            font-size: 0.75rem;
        }
    }

    .benefits-list {
        list-style: none;
        padding: 0;

        li {
            font-size: 0.9rem;
           // font-weight: 500;
            margin-bottom: 0.75rem;
            display: flex;
            align-items: center;
            font-display: swap;

            @media(max-width: 576px) {
                font-size: 0.75rem;
                font-display: swap;
            }


            .fa-check {
              // color: #00d18b;
             //   font-size: 1.2rem;
                margin-right: 0.5rem;
            }
        }
    }
}


.carousel-wrapper-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    margin-bottom: 25px;

    .carousel-p {

        @media(max-width: 576px) {
            font-size: 0.8rem;
        }
    }

    .carousel-text {
        color: #ffffff;
        padding: 10px;
        font-weight: 700;
    }

    .carousel-wrapper {
        position: relative;
        overflow: hidden;


        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 60px;
            height: 100%;
            z-index: 2;
            pointer-events: none;
        }

        &::before {
            left: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }

        .carousel-card {
            height: 450px;
            min-width: 270px;
            margin-right: 20px;
            text-align: center;
            border-radius: 8px;
            color: #333;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            transition: transform 1s linear;
            align-content: center;

            @media(max-width: 768px) {
                height: 400px;
                min-width: 200px;
                margin-right: 15px;
            }

            @media(max-width: 576px) {
                height: 370px;
                min-width: 150px;
                margin-right: 10px;
            }

            .book-image {
                border-radius: 8px;
                height: 250px;
                width: fit-content;
                padding-bottom: 10px;

                @media(max-width: 768px) {
                    height: 200px;
                }

                @media(max-width: 576px) {
                    height: 150px;
                }
            }
        }
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50%));
    }
}




