@model BooksPageViewModel

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <form asp-controller="BooksPage" asp-action="Search" class="d-flex" id="findForm" method="get">
                <div class="input-group search-box">
                    <input class="form-control search-input" id="findQuery" name="query" type="search" placeholder="@Html.Translate("/books/searchforbooks")" aria-label="Find" value="@Model.Query">
                    <button class="input-group-text search-button" aria-label="Search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="filter-container">
            <ul style="display: flex; gap: 1rem; list-style: none;">
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a href="/" class="category-filter-link">@category.Text</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    @if (Model.Result.Count() > 0)
    {
        <div class="book-cards-wrapper">
            @foreach (var result in Model.Result)
            {
                <component type="typeof(BookCard)" render-mode="Server" param-Result="result" param-Query="Model.Query"/>
            }
        </div>
    }
    else
    {
        <div class="no-results">
            <p>@($"{Html.Translate("/books/nobookfound")} \"{Model.Query}\"")</p>
            <img src="~/images/NoBookFound.webp" loading="lazy" alt="image for no book found" class="no-result-img">
        </div>
    }
</div>

