@using BookBuddy.Models.Pages
@using BookBuddy.Models.ViewModels
@using EPiServer.Web.Mvc.Html

@model IPageViewModel<SitePageData>

<!DOCTYPE html>

<html lang="@Model.CurrentPage.Language">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta title="@Model.CurrentPage.MetaTitle" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 bg-light vh-100 d-flex flex-column">
                @await Html.PartialAsync("_Header", Model)
            </div>

            <div class="col-10 d-flex flex-column vh-100">
                <main class="flex-grow-1 bg-white p-3">
                    @RenderBody()
                </main>

                <div class="footer bg-light p-3">
                    @await Html.PartialAsync("_Footer", Model)
                </div>
            </div>
        </div>
    </div>
</body>
</html>