﻿@using System.Globalization
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var currentLang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    var userLang = HttpContextAccessor.HttpContext.Request.Query["language"].FirstOrDefault() ??
                   (HttpContextAccessor.HttpContext.Request.Path.Value.Contains("/sv") ? "sv-SE" : "en-GB");
}

<!DOCTYPE html>
<html lang="@currentLang">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/site.css" media="all">
</head>
<body class="startpage">
    <div class="overlay"></div>
    <div class="container d-flex flex-column align-items-center justify-content-center">
        @RenderBody()

        @await Html.PartialAsync("~/Views/Shared/Partials/cookiepartial.cshtml")
    </div>
    <script src="~/js/carousel.js"></script>
    <script src="~/js/cookieConsent.js" defer></script>
    <script src="https://cdn.cookietractor.com/cookietractor.js" data-lang="@userLang" data-id="e470af12-ff81-4cd2-b3df-79f942173b8a" defer></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>