@model UpdateUserViewModel
@inject ProfileService ProfileService

@{
    Layout = "~/Views/Shared/Layouts/AuthLayout.cshtml";
    ViewData["Title"] = "Change password";


    var user = await _userManager.GetUserAsync(User);
    var userId = user?.Id;
    var profiles = await ProfileService.GetAllProfilesAsync(userId);
    var selectedProfile = await ProfileService.GetSelectedProfileAsync();
    var mainProfile = await ProfileService.GetMainProfileAsync();
}


<div>

    @if (selectedProfile == mainProfile)
    {
        <div class="text-center">
            <h1>Change password</h1>
        </div>

        <form method="post" asp-action="UpdateUser" asp-controller="Account">
            @Html.AntiForgeryToken()
            <div>
                @ViewData["StatusMessage"]
            </div>
            <div class="form-group mb-3">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>

            <button type="submit" class="btn btn-success w-100 mb-3">Update</button>
        </form>
    }
    else
    {
        <div>
            <h1>ACCESS DENIED</h1>
        </div>
        <h2>Mainprofile needed to change password</h2>
    }

</div>