@model StartPageViewModel

<div class="container-sm startpage-wrapper">
    <div class="startpage-header">
        <h1 class="card-title">@Model.CurrentPage.Heading</h1>
    </div>

    <div class="startpage-mainbody">
        @Html.Raw(Model.CurrentPage.MainBody)
    </div>

    <component type="typeof(CounterBlazorPage)" render-mode="Server" />
    <component type="typeof(TestForm)" render-mode="Server" />
</div>