@using BookBuddy.Models.ViewModels
@using BookBuddy.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model StartPageViewModel

<div class="startpage-wrapper">
    <div class="startpage-header">
        <h1>@Model.CurrentPage.Heading</h1>
    </div>

    <div class="startpage-mainbody">
        @Html.Raw(Model.CurrentPage.MainBody)
    </div>

    <component type="typeof(CounterBlazorPage)" render-mode="Server" />
</div>